---
name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      python_version: 3.7
      registry: docker.pkg.github.com
      collection_path: ~/.ansible/collections/ansible_collections/marmorag

    steps:
      - uses: actions/checkout@v2

      - name: Docker - login
        run: echo ${{ secrets.PACKAGE_TOKEN }} | docker login ${{ env.registry }} -u marmorag --password-stdin

      - name: Ansible - sanity test
        run: docker run --mount type=bind,source="$(pwd)"/.,target=/ansible/ansible_collections/marmorag/ansodium --env "TEST_TYPE=sanity" ${{ env.registry }}/marmorag/ansodium/ansodium-test

      - name: Ansible - run test playbook
        run: docker run --mount type=bind,source="$(pwd)"/.,target=/ansible/ansible_collections/marmorag/ansodium --env "TEST_TYPE=playbook" ${{ env.registry }}/marmorag/ansodium/ansodium-test
