---
name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      registry: docker.pkg.github.com

    steps:
      - name: collections directory & symlink
        run: mkdir -p ~/.ansible/collections/ansodium && ln -s "$(pwd)" ~/.ansible/collections/ansodium

      - uses: actions/checkout@v2

      - name: docker login
        run: echo ${{ secrets.PACKAGE_TOKEN }} | docker login ${{ env.registry }} -u marmorag --password-stdin

      - name: ansible sanity test
        run: docker run --mount type=bind,source="$(pwd)"/.,target=/ansible/ansible_collections/marmorag/ansodium ${{ env.registry }}/marmorag/ansodium/ansodium-test

      - name: ansible run test playbook
        run: ansible-playbook tests/main.yml
